@font-face {
  font-family: AlrightSans;
  src: url("../assets/fonts/AlrightSans-Regular.otf") format("opentype"), url("../assets/fonts/AlrightSans-Regular.woff") format("woff");
  font-weight: 400; }
@font-face {
  font-family: AlrightSans;
  src: url("../assets/fonts/AlrightSans-Medium.otf") format("opentype"), url("../assets/fonts/AlrightSans-Medium.woff") format("woff");
  font-weight: 500; }
@font-face {
  font-family: AlrightSans;
  src: url("../assets/fonts/AlrightSans-Bold.otf") format("opentype"), url("../assets/fonts/AlrightSans-Bold.woff") format("woff");
  font-weight: 700; }
@font-face {
  font-family: TiemposText;
  src: url("../assets/fonts/TiemposText-Regular.otf") format("opentype"), url("../assets/fonts/TiemposText-Regular.woff") format("woff");
  font-weight: 400; }
@font-face {
  font-family: TiemposText;
  src: url("../assets/fonts/TiemposText-Medium.otf") format("opentype"), url("../assets/fonts/TiemposText-Medium.woff") format("woff");
  font-weight: 500; }
@font-face {
  font-family: TiemposHeadline;
  src: url("../assets/fonts/TiemposHeadline-Medium.otf") format("opentype"), url("../assets/fonts/TiemposHeadline-Medium.woff") format("woff");
  font-weight: 500; }
body {
  background-color: #f7f8f9; }

a {
  color: inherit;
  text-decoration: none; }

.app {
  max-width: 600px;
  margin: 0 auto; }

.card {
  background-color: #fff; }

.container {
  padding: 0 45px; }

.separator {
  height: 3px;
  border: solid 1px #eceef0; }

.section-separator {
  margin: 40px 0; }

.footer-separator {
  margin: 0 0 35px; }

.nav {
  background-color: #fff;
  padding: 15px 0; }
  .nav .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav .nav-items .nav-logo {
      width: 141px;
      height: 36px; }
    .nav .nav-items .nav-action {
      font-family: 'AlrightSans', sans-serif;
      color: #ec5447;
      font-size: 10px;
      font-weight: 400; }

.header {
  background: #ffffff;
  padding: 50px 0 0; }
  .header .header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .header .header-container .header-text {
      flex: 0 1 273px;
      font-family: 'AlrightSans', serif;
      font-weight: 400; }
      .header .header-container .header-text h1 {
        color: #0a273c;
        font-family: 'TiemposText', serif;
        font-size: 44px;
        line-height: 1.02;
        letter-spacing: -0.4px;
        margin-bottom: 20px; }
      .header .header-container .header-text p {
        color: #85939e;
        font-size: 14px;
        line-height: 1.21; }
    .header .header-container .header-team {
      margin-top: 50px;
      margin-bottom: -0.175rem; }
      .header .header-container .header-team img {
        width: 100%; }

.aside {
  margin-bottom: 40px; }
  .aside .card {
    display: flex;
    font-family: "AlrightSans";
    padding: 40px 40px 50px; }
    .aside .card .card-accent {
      background-color: #85939e;
      width: 64px;
      height: 1px;
      opacity: 0.47;
      margin-right: 35px;
      margin-top: 25px; }
    .aside .card .card-text {
      flex: 0 1 330px; }
      .aside .card .card-text h6 {
        color: #60cbe2;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 8px; }
      .aside .card .card-text h4,
      .aside .card .card-text p {
        color: #0a273c; }
      .aside .card .card-text h4 {
        font-family: "TiemposHeadline";
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px; }
      .aside .card .card-text p {
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: -0.1px;
        opacity: 0.73; }
        .aside .card .card-text p span {
          display: block; }
          .aside .card .card-text p span:not(:last-child) {
            margin-bottom: 15px; }

.section-posts-text,
.section-tips-text {
  color: #0a273c;
  text-align: center; }
  .section-posts-text h1,
  .section-tips-text h1 {
    font-family: "TiemposText";
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.5rem; }
  .section-posts-text p,
  .section-tips-text p {
    font-family: "AlrightSans";
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px; }

.section-tips-cards {
  display: flex;
  flex-direction: column; }
  .section-tips-cards .card {
    display: flex;
    align-items: center;
    border: solid 1px #eceef0;
    font-family: "AlrightSans";
    padding: 25px 50px; }
    .section-tips-cards .card:not(:last-child) {
      margin-bottom: 20px; }
    .section-tips-cards .card .card-image {
      margin-right: 33px; }
    .section-tips-cards .card .card-text h4 {
      color: #0a273c;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: -0.5px;
      margin-bottom: 10px; }
    .section-tips-cards .card .card-text p {
      color: #85939e;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 10px; }
    .section-tips-cards .card .card-text a {
      color: #60cbe2;
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase; }

.section-posts {
  margin-bottom: 40px; }
  .section-posts .section-posts-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .section-posts .section-posts-cards .card {
      flex: 0 1 242px;
      border: solid 1px #eceef0;
      font-family: "AlrightSans"; }
      .section-posts .section-posts-cards .card .card-image img {
        background-color: #ec5447;
        width: 100%;
        height: auto; }
      .section-posts .section-posts-cards .card .card-text {
        padding: 10px 15px 25px; }
        .section-posts .section-posts-cards .card .card-text h6 {
          color: #60cbe2;
          font-size: 10px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 5px; }
        .section-posts .section-posts-cards .card .card-text h4,
        .section-posts .section-posts-cards .card .card-text p {
          color: #0a273c; }
        .section-posts .section-posts-cards .card .card-text h4 {
          font-family: "TiemposHeadline";
          font-size: 16px;
          font-weight: 700;
          line-height: 1.38;
          margin-bottom: 10px; }
        .section-posts .section-posts-cards .card .card-text p {
          font-size: 13px;
          font-weight: 400;
          line-height: 1.5;
          opacity: 0.73; }

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ec5447;
  height: 50px;
  margin-bottom: 20px; }
  .notification .notification-text {
    color: #fff;
    font-family: "AlrightSans"; }
    .notification .notification-text p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.36; }
      .notification .notification-text p a {
        font-weight: 500; }

.footer {
  font-family: "AlrightSans"; }
  .footer .footer-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px; }
    .footer .footer-primary .footer-location {
      display: flex; }
      .footer .footer-primary .footer-location p {
        color: #85939e;
        font-size: 14px;
        font-weight: 400;
        opacity: 0.5; }
        .footer .footer-primary .footer-location p strong {
          font-weight: 700; }
      .footer .footer-primary .footer-location img {
        margin-left: 4px;
        width: 14px;
        height: 14px; }
    .footer .footer-primary .footer-social ul {
      display: flex; }
      .footer .footer-primary .footer-social ul li:not(:last-child) {
        margin-right: 10px; }
  .footer .footer-secondary {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .footer .footer-secondary .footer-actions {
      font-family: "AlrightSans";
      margin-bottom: 15px; }
      .footer .footer-secondary .footer-actions a {
        color: #0a273c;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-transform: uppercase; }
        .footer .footer-secondary .footer-actions a:not(:last-child) {
          margin-right: 20px; }
    .footer .footer-secondary .footer-copyright {
      color: #85939e;
      font-size: 12px;
      text-align: left;
      margin-bottom: 35px;
      opacity: 0.5; }
    .footer .footer-secondary .footer-logo {
      width: 31px;
      height: 35px;
      margin-bottom: 70px; }

@media screen and (max-width: 596px) {
  .nav .nav-items {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .nav .nav-items .nav-logo {
      margin-bottom: 1rem; }

  .header .header-container {
    justify-content: center; }
    .header .header-container .header-text {
      text-align: center;
      margin-bottom: 20px; }

  .aside {
    margin-bottom: 40px; }
    .aside .card {
      flex-direction: column; }
      .aside .card .card-accent {
        margin: 0 0 40px; }
      .aside .card .card-text {
        flex: none; }

  .section-tips-cards .card {
    flex-wrap: wrap; }
    .section-tips-cards .card .card-image {
      margin-bottom: 25px; }

  .section-posts-cards {
    flex-direction: column; }
    .section-posts-cards .card {
      flex: 1;
      font-family: "AlrightSans"; }
      .section-posts-cards .card:not(:last-child) {
        margin-bottom: 20px; }

  .footer-separator {
    margin: 20px 0; }

  .footer {
    font-family: "AlrightSans"; }
    .footer .footer-primary {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 75px; }
      .footer .footer-primary .footer-location {
        margin-bottom: 1rem; } }

/*# sourceMappingURL=style.css.map */
