doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Redstamp Exam Part One
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    .app

      // START Nav
      .nav

        .container

          .nav-items
            a.nav-logo(href="#")
              img(src="assets/images/wordmark.svg", alt="Redstamp Wordmark")
            a.nav-action(href="#") View in your browser
      // END Nav

      // START Header
      .header

        .container

          .header-container

            .header-text
              h1 Summer Newsletter
              p Lorem ipsum dolor sit amet proin gravida amet lorem ipsum sum dolor sit.

            .header-image
              img(src="assets/images/head-traction.png", alt="Traction Artwork")

            .header-team
              img(src="assets/images/head-team.png", alt="Redstamp Team")
      // END Header

      // START Aside
      .aside

        .container

          .card
            .card-accent
            .card-text
              h6 Traction
              h4 Traction Conference 2017
              p 
                span Hi There! We’re still riding high on our incredible experience at this year’s Traction conference! We helped sponsor the event, bringing some of the best minds in tech, SaaS, and growth to Vancouver for a few days of straight-up geeking out. <br /> 
                span We made a lot of new friends and learned a lot of new things, and we’re already excited to make an even bigger splash next year! 
      // END Aside

      // START Section tips      
      .section.section-tips

        .container

          .section-tips-text
            h1 3 Tips for Action
            p All the things you need to know lorem ipsum

          .section-tips-cards
            .card
              .card-image
                img(src="assets/images/icon-growth.png", alt="Growth Icon")
              .card-text
                h4 Investing for brand growth
                p Zapier is an incredibly versatile tool that integrates with all sorts of apps to make your life easier
                a(href="#") Read more

            .card
              .card-image
                img(src="assets/images/icon-growth.png", alt="Growth Icon")
              .card-text
                h4 Social Media Trends
                p Zapier is an incredibly versatile tool that integrates with all sorts of apps to make your life easier
                a(href="#") Read more

            .card
              .card-image
                img(src="assets/images/icon-growth.png", alt="Growth Icon")
              .card-text
                h4 Social Media Trends
                p Zapier is an incredibly versatile tool that integrates with all sorts of apps to make your life easier
                a(href="#") Read more
      // END Section tips

      hr.separator.section-separator

      // START Section posts
      .section.section-posts

        .container

          .section-posts-text
            h1 Your favourite blog posts
            p Our readers have found these posts interesting this month.

          .section-posts-cards

            .card
              .card-image
                img(src="assets/images/card-traction.png", alt="Traction Artwork")
              .card-text
                h6 Traction
                h4 Takeaway from Traction
                p We learned so much from leading growth and business leaders at Traction Conf 2017. Here are our favourite Twitter takeaways from the two-day event.

            .card
              .card-image
                img(src="assets/images/card-automation.png", alt="Automation Artwork")
              .card-text
                h6 Traction
                h4 Sales Automation Made Easy
                p We learned so much from leading growth and business leaders at Traction Conf 2017. Here are our favourite Twitter takeaways from the two-day event.
      // END Section posts

      .notification

        .container

          .notification-text
            p We now do CRO, let us optimize your landing pages – 
              a(href="#") Find out more

      // START Footer
      .footer

        .container

          .footer-primary

            .footer-location
              p Made in 
                strong Canada
              img(src="assets/images/icon-canada.svg", alt="Canadian Flag")

            .footer-social
              ul
                li
                  a(href="#")
                    img(src="assets/images/icon-linkedin.png", alt="LinkedIn Logo")
                li
                  a(href="#")
                    img(src="assets/images/icon-twitter.png", alt="Twitter Logo")
                li
                  a(href="#")
                    img(src="assets/images/icon-facebook.png", alt="Facebook Logo")
                li
                  a(href="#")
                    img(src="assets/images/icon-instagram.png", alt="Instagram Logo")

        hr.separator.footer-separator

        .container

          .footer-secondary

            .footer-actions
              a(href="#") Unsubscribe
              a(href="#") View in browser

            .footer-copyright
              p &copy; 2011-2017 Red Stamp Agency Inc. All rights reserved.

            .footer-logo
              a.logo(href="#")
                img(src="assets/images/logo.svg", alt="Redstamp Logo")
      // END Footer
